body {
    font-family: 'Roboto', sans-serif;
    background-color: #eb70d0;
    display: flex;
    justify-content: center;
}

.container {
    width: 457px;
    height: 138px;
    display: flex;
    background-color: white;
}

#dog-img {
    width: 130px;
    height: 130px;
    margin: 4px 0 4px 4px;
}

.inner-container {
    margin-left: 14px;
}

.icon-container {
    display: flex;
}

#tweet-id {
    font-weight: bold;
    margin-bottom: 14px;
    margin-top: 14px;
    color: #000000;
    font-size: 20px;
}

#tweet-desc {
    font-weight: normal;
    margin-top: 14px;
    margin-bottom: 24px;
    color: #000000;
    font-size: 20px;
}

.icon-img {
    width: 20px;
    height: 20px;
    margin-right: 14px;
}

.number {
    margin-top: 0px;
    margin-right: 24px;
    color: #858991;
    font-size: 15px;
}