<app-registration-header></app-registration-header>
<!-- <app-progress-bar [currentStepIndex]="currentStepIndex"></app-progress-bar> -->
<app-progress-bar></app-progress-bar>
<!-- <app-personal-info></app-personal-info> -->
<!-- <app-educational-qualification></app-educational-qualification> -->
<!-- <app-professional-qualification></app-professional-qualification> -->
<!-- <app-experienced-qualification></app-experienced-qualification> -->
<!-- <app-fresher-qualification></app-fresher-qualification> -->
<!-- <app-review></app-review> -->

<!-- <app-personal-info *ngIf="currentStepIndex === 0"></app-personal-info>

<app-qualification *ngIf="currentStepIndex === 1"></app-qualification>


<app-review *ngIf="currentStepIndex === 2"></app-review> -->



<!-- <app-next-prev-nav (stepChange)="onStepChange($event)"></app-next-prev-nav> -->


<router-outlet></router-outlet>