body {
    margin: 0;
}

.header {
    text-align: center;
    background-color: #756AB6;
    color: #FFE5E5;
    font-size: 32px;
    padding-top: 15px;
}

.input-container {
    background-color: #756AB6;
    color: #FFE5E5;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 10px;
}

#input-text {
    width: 40%;
    padding-left: 10px;
    border: none;
    border-radius: 15px 0px 0px 15px;
}

.addbtn {
    border: none;
    border-radius: 0px 15px 15px 0px;
    width: 20%;
    background-color: #E0AED0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    margin: 0px 25px 2px 25px;
    background-color: #fcdcdc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.edit-delete-container{
    display: flex;
}

.edit-button {
    width: 100px;
    border: none;
    background-color: #E0AED0;
    border-radius: 15px;
    margin-right: 10px;
}

.delete-button {
    width: 100px;
    border: none;
    background-color: #E0AED0;
    border-radius: 15px;
    margin-right: 10px;
}